.portfolio {
  margin-top: 40px; }
  .portfolio .border {
    margin-top: 80px;
    width: 100%;
    background: #ddd; }
  .portfolio .amenities__title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background: #0038a5;
    display: inline;
    box-shadow: 20px 0 0 #0038a5,-20px 0 0 #0038a5; }
  .portfolio .amenities__title_line {
    width: 20%;
    height: 4px;
    margin-top: 10px;
    margin-left: 0;
    background: #0038a5;
    border: 0; }

.portfolio__block,
.portfolio__end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px; }

.portfolio__button {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center; }

.portfolio__link {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #0038a5;
  border-radius: 5px; }

.portfolio__link:hover {
  background: #191970;
  color: #fff;
  text-decoration: none; }

.cd-img {
  width: 100%; }

.cd-image-container {
  position: relative;
  max-width: 550px;
  margin-top: 30px; }

.cd-image-container img {
  display: block; }

.cd-image-label {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px); }

.cd-image-label.is-hidden {
  visibility: hidden; }

.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.cd-resize-img img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: auto;
  max-width: none;
  height: 100%; }

.cd-resize-img .cd-image-label {
  right: auto;
  left: 0; }

.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s; }

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0; }
  60% {
    width: 55%; }
  100% {
    width: 50%; } }

@-moz-keyframes cd-bounce-in {
  0% {
    width: 0; }
  60% {
    width: 55%; }
  100% {
    width: 50%; } }

@keyframes cd-bounce-in {
  0% {
    width: 0; }
  60% {
    width: 55%; }
  100% {
    width: 50%; } }

.cd-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  /* center the element */
  margin-top: -22px;
  margin-left: -22px;
  cursor: move;
  background: #fff url("../img/cd-arrows.svg") no-repeat center center;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0); }

.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #ff99; }

.is-visible .cd-handle {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }
