@import url(normalize.css);
* {
  box-sizing: border-box; }

.navbar {
  margin-top: 30px;
  margin-bottom: 10px; }

nav img {
  width: auto;
  height: auto; }

nav a {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  line-height: 24pt;
  color: black; }

nav a:hover {
  color: #07969a;
  text-decoration: none; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler.navbar-toggler {
  border-color: #000; }

.numbers a {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #000; }

.section-calculator .section-inner {
  margin-top: 40px;
  margin-bottom: 40px; }

.section-calculator-wrapper__calc-panel {
  height: 230px;
  border: 2px solid #07969a;
  border-radius: 10px; }

.section-calculator-wrapper__steps {
  margin: 20px 20px;
  font-size: 14px; }

.section-calculator-wrapper__tabs {
  display: flex; }
  .section-calculator-wrapper__tabs .tab {
    width: 150px;
    padding: 5px 0;
    margin-left: 20px;
    font-weight: 700;
    color: #000;
    text-align: center;
    cursor: pointer;
    border: 2px solid #07969a;
    border-radius: 8px; }
  .section-calculator-wrapper__tabs .tab:hover {
    color: #fff;
    background-color: #07969a; }

.section-about .section-inner {
  padding: 40px 0;
  color: #fff;
  background-color: #07969a; }

.section-about-wrapper__title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700; }
  .section-about-wrapper__title .desc-line {
    width: 70px;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #fff;
    border: 0; }

.section-about-wrapper__description {
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.2em; }

.section-about-wrapper-desc {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center; }
  .section-about-wrapper-desc span {
    font-weight: 700; }
