@import url(normalize.css);
* {
  box-sizing: border-box; }

.btn-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 10px; }

.btn-top:hover {
  background-color: #27ae60; }

.navbar {
  margin-top: 30px;
  margin-bottom: 10px; }

nav img {
  width: 150px;
  height: 100px; }

nav a {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  line-height: 24pt;
  color: black; }

nav a:hover {
  color: #0038a5;
  text-decoration: none; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler.navbar-toggler {
  border-color: #000; }

.numbers a {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #000; }

.whtsapp-img {
  height: auto;
  width: auto; }

.section-calculator .section-inner {
  margin-top: 40px;
  margin-bottom: 40px; }

.section-calculator-wrapper__calc-panel {
  height: 230px;
  border: 2px solid #0038a5;
  border-radius: 10px; }

.section-calculator-wrapper__steps {
  margin: 20px 20px;
  font-size: 14px; }

.section-calculator-wrapper__tabs {
  display: flex; }
  .section-calculator-wrapper__tabs .tab {
    width: 150px;
    padding: 5px 0;
    margin-left: 20px;
    font-weight: 700;
    color: #000;
    text-align: center;
    cursor: pointer;
    border: 2px solid #0038a5;
    border-radius: 8px; }
  .section-calculator-wrapper__tabs .tab:hover {
    color: #fff;
    background-color: #0038a5; }

.section-about .section-inner {
  font-family: 'Roboto', sans-serif;
  padding: 40px 0;
  color: #fff;
  background-color: #b60014; }

.section-about-wrapper__title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700; }
  .section-about-wrapper__title .desc-line {
    width: 70px;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #fff;
    border: 0; }

.section-about-wrapper__description {
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.2em; }

.section-about-wrapper-desc {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center; }
  .section-about-wrapper-desc span {
    font-weight: 700; }

.section-services-wrapper__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700; }
  .section-services-wrapper__title .title-line {
    width: 75px;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #0038a5;
    border: 0; }

.section-services-wrapper__blocks {
  margin-bottom: 20px; }
  .section-services-wrapper__blocks-line {
    margin-bottom: 20px; }
    .section-services-wrapper__blocks-line .block {
      border: 5px solid #0038a5;
      border-radius: 8px; }
      .section-services-wrapper__blocks-line .block .title {
        font-size: 18px;
        font-weight: 500;
        text-align: center; }
      .section-services-wrapper__blocks-line .block button {
        padding: 5px 50px;
        margin: 10px 40px; }
      .section-services-wrapper__blocks-line .block .btn {
        background: #0038a5;
        color: #fff;
        text-decoration: none; }
      .section-services-wrapper__blocks-line .block .btn:hover {
        background: #191970;
        color: #fff;
        text-decoration: none; }

.section-cleaning .section-inner {
  margin-top: 50px; }

.section-cleaning-wrapper__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  text-align: center; }

.section-cleaning-wrapper__description {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1em;
  text-align: center; }

.section-cleaning-wrapper__tabs-header {
  display: flex;
  margin: 20px 82px; }
  .section-cleaning-wrapper__tabs-header-item {
    padding: 10px 20px;
    margin-right: 15px;
    color: #0038a5;
    cursor: pointer;
    border: 2px solid #0038a5; }
  .section-cleaning-wrapper__tabs-header-item:hover {
    color: #fff;
    background-color: #191970; }
  .section-cleaning-wrapper__tabs-header-item.active {
    color: #fff;
    background-color: #191970; }

.section-cleaning-wrapper__tabs-content-item {
  display: none; }

.section-cleaning-wrapper__tabs-content-item.active {
  display: block; }

.section-benefits-wrapper__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700; }
  .section-benefits-wrapper__title .title-line {
    width: 75px;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #b60014;
    border: 0; }

.section-benefits-wrapper__blocks {
  margin-bottom: 20px; }
  .section-benefits-wrapper__blocks .block {
    padding: 0 15px;
    margin-top: 40px; }
    .section-benefits-wrapper__blocks .block .title {
      margin-top: 20px;
      font-size: 22px;
      font-weight: 700;
      line-height: 1em;
      text-align: center; }
    .section-benefits-wrapper__blocks .block .description {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1em;
      text-align: center; }

.section-clean .section-inner {
  padding-bottom: 50px;
  background-color: #0038a5; }

.section-clean-wrapper__title {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #000; }

.section-clean-wrapper__description {
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 1em;
  color: #fff; }

.section-clean-wrapper__sign {
  margin-top: 40px; }

.section-clean-wrapper__form-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff; }

.section-clean-wrapper__form .form-rounded {
  border-radius: 30px; }

.section-clean-wrapper__form .form-btn {
  width: 100%;
  margin-top: 10px; }

.section-review-wrapper__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700; }
  .section-review-wrapper__title .title-line {
    width: 75px;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #b60014;
    border: 0; }

.section-review-wrapper__carousel-blocks .block {
  padding: 20px 20px;
  border: 3px solid #b60014; }
  .section-review-wrapper__carousel-blocks .block-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1em;
    text-align: center; }
  .section-review-wrapper__carousel-blocks .block-content {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    text-align: center; }

.section-answers-wrapper__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700; }
  .section-answers-wrapper__title .title-line {
    width: 75px;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #b60014;
    border: 0; }

.section-answers-wrapper .faq__block {
  margin-top: 10px; }

.section-answers-wrapper .accordion {
  /* overflow: hidden; */
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); }

.section-answers-wrapper .title-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background: #0038a5;
  border-bottom: 1px solid #fff;
  transition: all linear 0.15s; }

.section-answers-wrapper .title-content.active,
.section-answers-wrapper .title-content:hover {
  color: #fff;
  text-decoration: none;
  text-decoration: underline;
  background: #191970; }

.section-answers-wrapper .content:last-child .title-content {
  border-bottom: none; }

.section-answers-wrapper .section-content {
  display: none;
  padding: 15px; }

.modal-dialog {
  justify-content: center; }
  .modal-dialog .modal-content {
    background-color: #b60014;
    width: 300px;
    height: 100%; }
    .modal-dialog .modal-content .form-control {
      margin-top: 5px; }

.section-footer .section-inner {
  margin-top: 60px;
  background-color: #b60014; }

.section-footer-wrapper-block__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 700;
  color: #fff; }

.section-footer-wrapper-block__contacts a {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 700;
  color: #fff; }

.section-footer-wrapper-block__contacts i {
  padding-right: 10px;
  font-size: 25px;
  color: #fff; }

.section-footer-wrapper__form-block {
  padding: 10px;
  margin-top: 20px;
  background-color: #920010;
  border-radius: 8px;
  box-shadow: 2px 5px 8px #000; }
  .section-footer-wrapper__form-block__title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    text-align: center; }
  .section-footer-wrapper__form-block .btn {
    background-color: #b60014;
    color: #fff; }
  .section-footer-wrapper__form-block .btn:hover {
    background-color: #920010; }
  .section-footer-wrapper__form-block__desc {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 0.8rem;
    color: #fff; }
  .section-footer-wrapper__form-block .form-control {
    margin-top: 5px; }

.section-footer-wrapper__copyrights {
  padding-bottom: 20px;
  margin-top: 40px;
  font-size: 12px;
  font-weight: 400;
  color: #fff; }
