@import url(normalize.css);
* {
  box-sizing: border-box; }

.btn-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%; }
  .btn-top img {
    height: 50px;
    width: 50px; }

.navbar {
  margin-top: 30px;
  margin-bottom: 10px; }

nav img {
  width: 150px;
  height: 100px; }

nav a {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  line-height: 24pt;
  color: black; }

nav a:hover {
  color: #0038a5;
  text-decoration: none; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler.navbar-toggler {
  border-color: #000; }

.numbers a {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #000; }

.whtsapp-img {
  height: auto;
  width: auto; }

.section-calculator .section-inner {
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px; }

.section-calculator-wrapper .calc_button {
  margin-top: 40px;
  margin-bottom: 50px; }

.section-calculator-wrapper .calc_link {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #0038a5;
  border-radius: 5px; }

.section-calculator-wrapper .calc_link:hover {
  background: #191970;
  color: #fff;
  text-decoration: none; }

.section-calculator-wrapper__main {
  margin-top: 40px;
  border: 5px solid #aeaeae;
  border-radius: 8px;
  padding: 20px 20px; }
  .section-calculator-wrapper__main h2 {
    text-align: center;
    margin-bottom: 30px; }
  .section-calculator-wrapper__main #final_price {
    font-size: 40px;
    font-weight: 700; }

.section-about .section-inner {
  font-family: 'Montserrat', sans-serif;
  padding: 40px 0;
  color: #fff; }
  .section-about .section-inner .border {
    margin-top: 80px;
    width: 70%;
    background: #ddd; }

.section-about-wrapper__title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  background: #e60000;
  display: inline;
  box-shadow: 20px 0 0 #e60000, -20px 0 0 #e60000; }
  .section-about-wrapper__title .desc-line {
    width: 80px;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #e60000;
    border: 0; }

.section-about-wrapper__description {
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.2em;
  color: #333; }

.section-about-wrapper-desc {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center;
  color: #000; }
  .section-about-wrapper-desc span {
    font-weight: 700; }

.section-services .section-inner .border {
  margin-top: 80px;
  width: 70%;
  background: #ddd; }

.section-services-wrapper__title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background: #e60000;
  display: inline;
  box-shadow: 20px 0 0 #e60000, -20px 0 0 #e60000; }
  .section-services-wrapper__title .title-line {
    width: 75px;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #e60000;
    border: 0; }

.section-whatis .section-inner {
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px; }
  .section-whatis .section-inner .border {
    margin-top: 80px;
    width: 70%;
    background: #ddd; }

.section-whatis-wrapper__title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background: #e60000;
  display: inline;
  box-shadow: 20px 0 0 #e60000, -20px 0 0 #e60000; }
  .section-whatis-wrapper__title .title-line {
    width: 20%;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #e60000;
    border: 0; }

.section-whatis-wrapper__main-left-block {
  margin-top: 20px; }
  .section-whatis-wrapper__main-left-block img {
    height: 75px;
    width: auto; }
  .section-whatis-wrapper__main-left-block_title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #000; }
  .section-whatis-wrapper__main-left-block_desc {
    font-size: 14px;
    font-weight: 500; }

.section-whatis-wrapper__main-right {
  margin-top: 170px; }
  .section-whatis-wrapper__main-right img {
    height: 400px;
    width: auto; }

.section-forgot .section-inner {
  margin-top: 50px; }
  .section-forgot .section-inner .border {
    margin-top: 80px;
    width: 70%;
    background: #ddd; }

.section-forgot-wrapper__title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background: #e60000;
  display: inline;
  box-shadow: 20px 0 0 #e60000, -20px 0 0 #e60000; }
  .section-forgot-wrapper__title .title-line {
    width: 30%;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #e60000;
    border: 0; }

.section-forgot-wrapper__main-left {
  margin-top: 90px; }
  .section-forgot-wrapper__main-left img {
    height: 400px;
    width: auto; }

.section-forgot-wrapper__subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 700; }

.section-forgot-wrapper__main-right {
  padding: 20px 40px;
  border: 4px solid #0038a5;
  border-radius: 8px; }
  .section-forgot-wrapper__main-right-block {
    text-align: center; }
    .section-forgot-wrapper__main-right-block_title {
      font-size: 22px;
      font-weight: 700;
      color: #000; }
    .section-forgot-wrapper__main-right-block_desc {
      font-size: 16px;
      font-weight: 500; }

.section-cleaning .section-inner {
  margin-top: 50px; }
  .section-cleaning .section-inner .border {
    margin-top: 80px;
    width: 70%;
    background: #ddd; }

.section-cleaning-wrapper__title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  text-align: center; }

.section-cleaning-wrapper__description {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1em;
  text-align: center; }

.section-cleaning-wrapper__tabs-header {
  display: flex;
  margin: 20px 82px; }
  .section-cleaning-wrapper__tabs-header-item {
    padding: 10px 20px;
    margin-right: 15px;
    color: #0038a5;
    cursor: pointer;
    border: 2px solid #0038a5; }
  .section-cleaning-wrapper__tabs-header-item:hover {
    color: #fff;
    background-color: #191970; }
  .section-cleaning-wrapper__tabs-header-item.active {
    color: #fff;
    background-color: #191970; }

.section-cleaning-wrapper__tabs-content-item {
  display: none; }

.section-cleaning-wrapper__tabs-content-item.active {
  display: block; }

.section-benefits .section-inner {
  font-family: 'Montserrat', sans-serif; }
  .section-benefits .section-inner .border {
    margin-top: 80px;
    width: 70%;
    background: #ddd; }

.section-benefits-wrapper__title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  background: #e60000;
  display: inline;
  box-shadow: 20px 0 0 #e60000, -20px 0 0 #e60000; }
  .section-benefits-wrapper__title .title-line {
    width: 30%;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #e60000;
    border: 0; }

.section-benefits-wrapper__blocks {
  margin-bottom: 20px; }
  .section-benefits-wrapper__blocks .block {
    padding: 0 15px;
    margin-top: 40px; }
    .section-benefits-wrapper__blocks .block .title {
      color: #000;
      margin-top: 20px;
      font-size: 22px;
      font-weight: 700;
      line-height: 1em;
      text-align: center; }
    .section-benefits-wrapper__blocks .block .description {
      color: #000;
      margin-top: 20px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1em;
      text-align: center; }

.section-clean .section-inner {
  padding-bottom: 50px;
  background-color: #0038a5; }

.section-clean-wrapper__title {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #000; }

.section-clean-wrapper__description {
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 1em;
  color: #fff; }

.section-clean-wrapper__sign {
  margin-top: 40px; }

.section-clean-wrapper__form-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff; }

.section-clean-wrapper__form .form-rounded {
  border-radius: 30px; }

.section-clean-wrapper__form .form-btn {
  width: 100%;
  margin-top: 10px; }

.section-review .section-inner {
  margin-top: 40px;
  margin-bottom: 40px; }
  .section-review .section-inner .border {
    margin-top: 80px;
    width: 70%;
    background: #ddd; }

.section-review-wrapper__title {
  color: #000;
  font-size: 30px;
  font-weight: 700; }
  .section-review-wrapper__title .title-line {
    width: 32%;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #e60000;
    border: 0; }

.section-review-wrapper__carousel-blocks {
  margin-top: 50px; }
  .section-review-wrapper__carousel-blocks .block {
    padding: 20px 20px;
    border: 3px solid #e60000; }
    .section-review-wrapper__carousel-blocks .block-title {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 700;
      line-height: 1em;
      text-align: center; }
    .section-review-wrapper__carousel-blocks .block-content {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1em;
      text-align: center; }

.section-districkts .section-inner {
  font-family: 'Roboto', sans-serif; }
  .section-districkts .section-inner .border {
    margin-top: 80px;
    width: 70%;
    background: #ddd; }

.section-districkts-wrapper__title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700; }
  .section-districkts-wrapper__title .title-line {
    width: 100%;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #e60000;
    border: 0; }

.section-districkts-wrapper__blocks {
  margin-bottom: 20px; }
  .section-districkts-wrapper__blocks .block {
    padding: 0 15px;
    margin-top: 40px; }
    .section-districkts-wrapper__blocks .block .title {
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: 700;
      line-height: 1em;
      text-align: center; }

.section-answers-wrapper__title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700; }
  .section-answers-wrapper__title .title-line {
    width: 75px;
    height: 4px;
    margin-top: 5px;
    margin-left: 0;
    background: #e60000;
    border: 0; }

.section-answers-wrapper .faq__block {
  margin-top: 10px; }

.section-answers-wrapper .accordion {
  /* overflow: hidden; */
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); }

.section-answers-wrapper .title-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background: #0038a5;
  border-bottom: 1px solid #fff;
  transition: all linear 0.15s; }

.section-answers-wrapper .title-content.active,
.section-answers-wrapper .title-content:hover {
  color: #fff;
  text-decoration: none;
  text-decoration: underline;
  background: #191970; }

.section-answers-wrapper .content:last-child .title-content {
  border-bottom: none; }

.section-answers-wrapper .section-content {
  display: none;
  padding: 15px; }

.modal-dialog {
  justify-content: center; }
  .modal-dialog .modal-content {
    background-color: #fff;
    width: 400px;
    height: 100%; }
    .modal-dialog .modal-content .form-control {
      margin-top: 5px; }

.section-footer .section-inner {
  margin-top: 60px;
  background-color: #e60000; }

.section-footer-wrapper-block__title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 700;
  color: #fff; }

.section-footer-wrapper-block__contacts a {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 700;
  color: #fff; }

.section-footer-wrapper-block__contacts i {
  padding-right: 10px;
  font-size: 25px;
  color: #fff; }

.section-footer-wrapper__form-block {
  padding: 10px;
  margin-top: 20px;
  background-color: #920010;
  border-radius: 8px;
  box-shadow: 2px 5px 8px #000; }
  .section-footer-wrapper__form-block__title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    text-align: center; }
  .section-footer-wrapper__form-block__desc {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 0.8rem;
    color: #fff; }
  .section-footer-wrapper__form-block .form-control {
    margin-top: 5px; }

.section-footer-wrapper__copyrights {
  padding-bottom: 20px;
  margin-top: 40px;
  font-size: 12px;
  font-weight: 400;
  color: #fff; }
