@import 'normalize.css';

//=== Mixins ====

@mixin font-roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

//=== / Mixins ===

//=== Variables ===

// $aqua-color: #07969a;
$aqua-text: #0038a5;
$dark-blue: #191970;
$red-bg: #e60000;
$red-bg-dark: #920010;

//=== / Variables ===

//=== Common ===
* {
    box-sizing: border-box;
}

//=== / Common ===

// КНОПКА ВВЕРХ

.btn-top {
    img {
        height: 50px;
        width: 50px;
    }

    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    // padding: 15px 15px;
    border-radius: 50%;
}

// / КНОПКА ВВЕРХ

// === NAVBAR ===
.navbar {
    margin-top: 30px;
    margin-bottom: 10px;
}

nav img {
    width: 150px;
    height: 100px;
}

nav a {
    @include font-montserrat;

    font-size: 12pt;
    font-weight: 500;
    line-height: 24pt;
    color: black;
}

nav a:hover {
    color: $aqua-text;
    text-decoration: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #000;
}

.numbers a {
    @include font-montserrat;
    font-size: 17px;
    font-weight: 700;
    color: #000;
}

.whtsapp-img {
    height: auto;
    width: auto;
}

// === / NAVBAR ===

// === CALCULATOR ===

.section-calculator {
    .section-inner {
        @include font-roboto;

        margin-top: 40px;
        margin-bottom: 40px;
    }

    &-wrapper {
        .calc_button {
            margin-top: 40px;
            margin-bottom: 50px;
        }

        .calc_link {
            padding: 15px 40px;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            background: #0038a5;
            border-radius: 5px;
        }

        .calc_link:hover {
            background: #191970;
            color: #fff;
            text-decoration: none;
        }

        &__main {
            h2 {
                text-align: center;
                margin-bottom: 30px;
            }

            margin-top: 40px;
            border: 5px solid #aeaeae;
            border-radius: 8px;
            padding: 20px 20px;

            #final_price {
                font-size: 40px;
                font-weight: 700;
            }
        }
    }
}

// === / CALCULATOR ===

// === ABOUT ===

.section-about {
    .section-inner {
        @include font-montserrat;

        padding: 40px 0;
        color: #fff;
        // background-color: $red-bg;

        .border {
            margin-top: 80px;
            width: 70%;
            background: #ddd;
        }
    }

    &-wrapper {
        &__title {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            background: $red-bg;
            display: inline;
            box-shadow: 20px 0 0 $red-bg,-20px 0 0 $red-bg;

            .desc-line {
                width: 80px;
                height: 4px;
                margin-top: 5px;
                margin-left: 0;
                background: $red-bg;
                border: 0;
            }
        }

        &__description {
            margin-bottom: 40px;
            font-size: 17px;
            font-weight: 500;
            line-height: 1.2em;
            color: #333;
        }

        &-desc {
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 500;
            text-align: center;
            color: #000;

            span {
                font-weight: 700;
            }
        }
    }
}

// === / ABOUT ===

// === SERVICES ===

.section-services {
    .section-inner{

        .border {
            margin-top: 80px;
            width: 70%;
            background: #ddd;
        }
    }

    &-wrapper {
        &__title {
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            background: $red-bg;
            display: inline;
            box-shadow: 20px 0 0 $red-bg,-20px 0 0 $red-bg;

            .title-line {
                width: 75px;
                height: 4px;
                margin-top: 5px;
                margin-left: 0;
                background: $red-bg;
                border: 0;
            }
        }

    }
}

// === / SERVICES ===

// === WHAT IS ===

.section-whatis {
    .section-inner {
        @include font-montserrat;
        margin-top: 50px;

        .border {
            margin-top: 80px;
            width: 70%;
            background: #ddd;
        }
    }

    &-wrapper {
        &__title {
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            background: $red-bg;
            display: inline;
            box-shadow: 20px 0 0 $red-bg,-20px 0 0 $red-bg;

            .title-line {
                width: 20%;
                height: 4px;
                margin-top: 5px;
                margin-left: 0;
                background: $red-bg;
                border: 0;
            }
        }

        &__main-left {
            &-block {
                margin-top: 20px;

                img {
                    height: 75px;
                    width: auto;
                }

                &_title {
                    margin-bottom: 10px;
                    font-size: 18px;
                    font-weight: 700;
                    color: #000;
                }

                &_desc {
                    font-size: 14px;
                    font-weight: 500;

                }
            }
        }
        &__main-right {
            margin-top: 170px;
            img {
                height: 400px;
                width: auto;
            }
        }
    }
}

// === / WHAT IS ===

// === FORGOT ===

.section-forgot {
    .section-inner {
        margin-top: 50px;

        .border {
            margin-top: 80px;
            width: 70%;
            background: #ddd;
        }
    }

    &-wrapper {
        &__title {
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            background: $red-bg;
            display: inline;
            box-shadow: 20px 0 0 $red-bg,-20px 0 0 $red-bg;

            .title-line {
                width: 30%;
                height: 4px;
                margin-top: 5px;
                margin-left: 0;
                background: $red-bg;
                border: 0;
            }
        }

        &__main-left {
            margin-top: 90px;
            img {
                height: 400px;
                width: auto;
            }
        }

        &__subtitle {
            margin-bottom: 10px;
            text-align: center;
            font-size: 22px;
            font-weight: 700;

            // .subtitle-line {
            //     width: 140px;
            //     height: 4px;
            //     margin-top: 5px;
            //     margin-left: 0;
            //     background: $aqua-text;
            //     border: 0;
            // }
        }

        &__main-right {
            padding: 20px 40px;
            border: 4px solid $aqua-text;
            border-radius: 8px;
            &-block {
                text-align: center;
                &_title {
                    font-size: 22px;
                    font-weight: 700;
                    color: #000;
                }

                &_desc {
                    font-size: 16px;
                    font-weight: 500;

                }
            }
        }
    }
}

// === / FORGOT ===

// === CLEANING ===

.section-cleaning {
    .section-inner {
        margin-top: 50px;

        .border {
            margin-top: 80px;
            width: 70%;
            background: #ddd;
        }
    }

    &-wrapper {
        &__title {
            margin-bottom: 20px;
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }

        &__description {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 500;
            line-height: 1em;
            text-align: center;
        }

        &__tabs {
            &-header {
                display: flex;
                margin: 20px 82px;

                &-item {
                    padding: 10px 20px;
                    margin-right: 15px;
                    color: $aqua-text;
                    cursor: pointer;
                    border: 2px solid $aqua-text;
                }

                &-item:hover {
                    color: #fff;
                    background-color: $dark-blue;
                }

                &-item.active {
                    color: #fff;
                    background-color: $dark-blue;
                }
            }

            &-content {
                &-item {
                    display: none;
                }

                &-item.active {
                    display: block;
                }
            }
        }
    }
}

// === / CLEANING ===

// === BENEFITS ===

.section-benefits {
    .section-inner {
        @include font-montserrat;
        .border {
            margin-top: 80px;
            width: 70%;
            background: #ddd;
        }
    }
    &-wrapper {
        &__title {
            color: #fff;
            font-size: 30px;
            font-weight: 700;
            background: $red-bg;
            display: inline;
            box-shadow: 20px 0 0 $red-bg,-20px 0 0 $red-bg;

            .title-line {
                width: 30%;
                height: 4px;
                margin-top: 5px;
                margin-left: 0;
                background: $red-bg;
                border: 0;
            }
        }

        &__blocks {
            margin-bottom: 20px;

            .block {
                padding: 0 15px;
                margin-top: 40px;

                .title {
                    color: #000;
                    margin-top: 20px;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 1em;
                    text-align: center;
                }

                .description {
                    color: #000;
                    margin-top: 20px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1em;
                    text-align: center;
                }
            }
        }
    }
}

// === / BENEFITS ===

// === CLEAN ===

.section-clean {
    .section-inner {
        padding-bottom: 50px;
        background-color: $aqua-text;
    }

    &-wrapper {
        &__title {
            padding-top: 40px;
            padding-bottom: 40px;
            font-size: 28px;
            font-weight: 700;
            line-height: 1em;
            color: #fff;
            text-align: center;
            text-shadow: 1px 1px 1px #000;
        }

        &__description {
            margin-top: 10px;
            font-size: 18px;
            font-style: italic;
            font-weight: 500;
            line-height: 1em;
            color: #fff;
        }

        &__sign {
            margin-top: 40px;
            // margin-left: 450px;
        }

        &__form {
            &-title {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 20px;
                font-weight: 700;
                color: #fff;
            }

            .form-rounded {
                border-radius: 30px;
            }

            .form-btn {
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}

// === / CLEAN ===

// === REVIEW ===

.section-review {
    .section-inner {
        margin-top: 40px;
        margin-bottom: 40px;
        .border {
            margin-top: 80px;
            width: 70%;
            background: #ddd;
        }
    }

    &-wrapper {
        &__title {
            color: #000;
            font-size: 30px;
            font-weight: 700;

            .title-line {
                width: 32%;
                height: 4px;
                margin-top: 5px;
                margin-left: 0;
                background: $red-bg;
                border: 0;
            }
        }

        &__carousel-blocks {
            margin-top: 50px;
            .block {
                padding: 20px 20px;
                border: 3px solid $red-bg;

                &-title {
                    margin-top: 20px;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1em;
                    text-align: center;
                }

                &-content {
                    margin-top: 20px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1em;
                    text-align: center;
                }
            }
        }
    }
}

// === / REVIEW ===

// DISTRICKTS

.section-districkts {
    .section-inner {
        @include font-roboto;

        .border {
            margin-top: 80px;
            width: 70%;
            background: #ddd;
        }
    }
    &-wrapper {
        &__title {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 30px;
            font-weight: 700;

            .title-line {
                width: 100%;
                height: 4px;
                margin-top: 5px;
                margin-left: 0;
                background: $red-bg;
                border: 0;
            }
        }

        &__blocks {
            margin-bottom: 20px;

            .block {
                padding: 0 15px;
                margin-top: 40px;

                .title {
                    margin-bottom: 10px;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 1em;
                    text-align: center;
                }
            }
        }
    }
}

// / DISTRICKTS

// === ANSWERS ===

.section-answers {
    &-wrapper {
        &__title {
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 30px;
            font-weight: 700;

            .title-line {
                width: 75px;
                height: 4px;
                margin-top: 5px;
                margin-left: 0;
                background: $red-bg;
                border: 0;
            }
        }

        .faq__block {
            margin-top: 10px;
        }

        .accordion {
            /* overflow: hidden; */
            background: #fff;
            border-radius: 3px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
        }

        .title-content {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: 15px;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            background: $aqua-text;
            border-bottom: 1px solid #fff;
            transition: all linear 0.15s;
        }

        .title-content.active,
        .title-content:hover {
            color: #fff;
            text-decoration: none;
            text-decoration: underline;
            background: $dark-blue;
        }

        .content:last-child .title-content {
            border-bottom: none;
        }

        .section-content {
            display: none;
            padding: 15px;
        }

    }
}

// === / ANSWERS ===

// === MODAL ===

.modal-dialog {
    justify-content: center;

    .modal-content {
        background-color: #fff;
        width: 400px;
        height: 100%;

        .form-control {
            margin-top: 5px;
        }
    }
}

// === / MODAL ===

// === FOOTER ===

.section-footer {
    .section-inner {
        margin-top: 60px;
        background-color: $red-bg;
    }

    &-wrapper {
        &-block {
            &__title {
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 26px;
                font-weight: 700;
                color: #fff;
            }

            &__contacts {
                a {
                    margin-top: 5px;
                    font-size: 22px;
                    font-weight: 700;
                    color: #fff;
                }

                i {
                    padding-right: 10px;
                    font-size: 25px;
                    color: #fff;
                }
            }
        }

        &__form-block {
            padding: 10px;
            margin-top: 20px;
            background-color: $red-bg-dark;
            border-radius: 8px;
            box-shadow: 2px 5px 8px #000;

            &__title {
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 26px;
                font-weight: 700;
                color: #fff;
                text-align: center;
            }

            // .btn {
            //     background-color: $red-bg;
            //     color: #fff;
            // }

            // .btn:hover {
            //     background-color: $red-bg-dark;
            // }

            &__desc {
                margin-top: 5px;
                margin-bottom: 10px;
                font-size: 12px;
                font-style: italic;
                font-weight: 400;
                line-height: 0.8rem;
                color: #fff;
            }

            .form-control {
                margin-top: 5px;
            }
        }

        &__copyrights {
            padding-bottom: 20px;
            margin-top: 40px;
            font-size: 12px;
            font-weight: 400;
            color: #fff;
        }
    }
}

// === / FOOTER ===